<div class="hour">

    <div class="container">
        <div class="live-left">
            <div class="live-info-box">
                <div class="live-info">
                  <div class="top-left-live">
                    <div class="left-data">
                      <div>
                        สภาพอากาศปัจจุบัน
                        <span>
                          กรุงเทพมหานคร
                          <div style="margin: -10px 1px;">
                            ประเทศไทย
                          </div>
                          <div class="temperature">
                            <p class="temperature-data">
                              37
                              <a style="font-size: 32;">&nbsp;&#8451;</a>
                            </p>  
                          </div>
                        </span>
                      </div>
                      <img src="../assets/Sunny.svg" alt="">
                    </div>
                  </div>
                </div> 
                   
            </div>
        </div>

        <div class="top-right">
          <div class="live-info-box">
              <div class="live-info">
                <div class="top-left-live">
                  <div class="right-data">
                    <div>
                      สิ่งของแนะนำ:
                      <div class="hourly-text">
                        <div class="item">09.00</div>
                        <div class="item">12.00</div>
                        <div class="item">15.00</div>
                        <div class="item">18.00</div>
                        <div class="item">21.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
                 
          </div>
      </div>
      </div>
      
        <div class="bottom-data">
            <div  class="today-weather">
        
              <div class="today-text">
                  สภาพอากาศวันนี้
                <p>
                  กรุงเทพมหานคร, ประเทศไทย
                </p>
                  <div class="container-hourly">
                    <div class="temperature-hourly-box">
                      <img src="../assets/Sunny.svg" alt="">
                      <p>แดดแรง</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Rain.svg" alt="">
                      <p>ฝนตก</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Wind.svg" alt="">
                      <p>ลมแรง</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Storm.svg" alt="">
                      <p>พายุ</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
</div>    