<app-nav-bar></app-nav-bar>
<div class="hour">

    <div class="container">
      <div class="hour-top">

        <div class="live-left">
          <div class="live-info-box">
              <div class="live-info">
                <div class="top-left-live">
                  <div class="left-data">
                    <div>
                      สภาพอากาศปัจจุบัน<br>
                      <span>
                        {{ this.weatherAPI.location.name }}
                        <div style="margin: -10px 1px;">
                          {{ this.weatherAPI.location.country }}
                        </div>
                        <div class="temperature">
                          <p class="temperature-data">
                            {{ this.weatherAPI.current.temp_c }}
                            <a style="font-size: 32;">&nbsp;&#8451;</a>
                          </p>  
                        </div>
                      </span>
                    </div>
                    <img [src]="getWeatherImage(weatherAPI.condition.text,currentTime )" alt="">
                  </div>
                </div>
              </div> 
                 
          </div>
      </div>

      <div class="top-right">
        <div class="live-info-box2">
            <div class="live-info2">
              <h3>สิ่งของแนะนำ:</h3>
              </div>     
            </div> 

        <div class="recommended-item ">
             <app-itembox *ngFor="let data of itemData" [time]="data.time"[condition]="data.condition" [boxStyles]="data.boxStyles"  [imageSrc]="data.imageSrc"></app-itembox>        
        </div>
    </div>
      </div>
       
      </div>
      
        <div class="bottom-data">
            <div  class="today-weather">
        
              <div class="today-text">
                  สภาพอากาศวันนี้
                <p>
                  กรุงเทพมหานคร, ประเทศไทย
                </p>
                  <div class="container-hourly">
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[0].condition,9 )" alt="">
                      <p>{{ this.weatherAPI.hour[0].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[0].condition}}</p>
                      </div>
                      <div class="time">
                        <span>9:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[1].condition,12 )" alt="">
                      <p>{{ this.weatherAPI.hour[1].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[1].condition}}</p>
                      </div>
                      <div class="time">
                        <span>12:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[2].condition,15 )" alt="">
                      <p>{{ this.weatherAPI.hour[2].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[2].condition}}</p>
                      </div>
                      <div class="time">
                        <span>15:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[3].condition,18 )" alt="">
                      <p>{{ this.weatherAPI.hour[3].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[3].condition}}</p>
                      </div>
                      <div class="time">
                        <span>18:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[4].condition,21 )" alt="">
                      <p>{{ this.weatherAPI.hour[4].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[4].condition}}</p>
                      </div>
                      <div class="time">
                        <span>21:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                      <img [src]="getWeatherImage(weatherAPI.hour[5].condition,24 )" alt="">
                      <p>{{ this.weatherAPI.hour[5].temp_c.toFixed(0) }}°C</p>
                      <p>{{this.weatherAPI.hour[5].condition}}</p>
                      </div>
                      <div class="time">
                        <span>24:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">   
                          <img [src]="getWeatherImage(weatherAPI.hour[6].condition,3 )" alt="">
                        <p>{{ this.weatherAPI.hour[6].temp_c.toFixed(0) }}°C</p>
                        <p>{{this.weatherAPI.hour[6].condition}}</p>
                      </div>
                  
                      <div class="time">
                        <span>3:00</span>
                      </div>
            
                    </div>
                    <div class="temperature-hourly-box">
                      <div class="hour-right">
                        <img [src]="getWeatherImage(weatherAPI.hour[7].condition,6 )" alt="">
                        <p>{{ this.weatherAPI.hour[7].temp_c.toFixed(0) }}°C</p>
                        <p>{{this.weatherAPI.hour[7].condition}}</p>
                      </div>

                      <div class="time">
                        <span>6:00</span>
                      </div>
            
                    </div>
                  </div>
                  
              </div>
            </div>
        </div>
</div>    