<div class="home">

<div class="container">
    <div class="live">
        <div class="live-info-box">
            <div class="live-info">
                <img src="../assets/Sunny.svg" alt="">
              <div class="temperature">
                <p class="temperature-data">
                  37
                </p>
                <span>
                  &nbsp;&#8451;
                </span>

              </div>
            </div>
            <div class="uv-data">
                <p>แดดแรง  UV: 7 of 10</p>
            </div>

          
        </div>
  
      <div class="right-data">
        <span>
          กรุงเทพมหานคร, ประเทศไทย
        </span>
        <span>
          {{ dateTime | date:'hh:mm a zzzz' }}
        </span>
        
      </div>
 
    </div>
  </div>

  <div class="bottom-data">
    <div  class="today-weather">

      <div class="today-word">
          สภาพอากาศวันนี้
        <p>
          กรุงเทพมหานคร, ประเทศไทย
        </p>
      </div>

      <div  class="hourly-weater">
   
          <app-weather-box *ngFor="let data of weatherData" [title]="data.title" [temperature]="data.temperature" [condition]="data.condition" [boxStyles]="data.boxStyles"  [imageSrc]="data.imageSrc"></app-weather-box>
    
      </div>



    </div>
    <div class="recommended">
      <div class="recommended-item">

      </div>
      <div class="recommended-transport">
        
      </div>
    </div>
  </div>

</div>