<div class="container">

    <div class="live-info">
        <div class="current-box">
            <div class="current-info">
                <img src="../assets/Sunny.svg" alt="">
    
                <p class="temperature">
                        37 °C
                </p>
                
            </div>
            <div>
                <p>แดดแรง</p>
            </div>

          
        </div>
  
      <div class="location">
        กรุงเทพมหานคร, ประเทศไทย
      </div>
 
    </div>
  </div>
  