<div class="container">

    <div class="live">
        <div class="live-info-box">
            <div class="live-info">
                <img src="../assets/Sunny.svg" alt="">
              <div class="temperature">
                <p class="temperature-data">
                  37
                </p>
                <span>
                  &nbsp;&#8451;
                </span>

              </div>
            </div>
            <div class="uv-data">
                <p>แดดแรง  UV: 7 of 10</p>
            </div>

          
        </div>
  
      <div class="right-data">
        <span>
          กรุงเทพมหานคร, ประเทศไทย
        </span>
        <span>
          09:41 AM GMT+07:00
        </span>
        
      </div>
 
    </div>
  </div>



<div class="container">
  <div class="bottom-data">
    <div  class="today-weather">
    </div>
    <div class="recommended">
      <div class="recommended-item">

      </div>
      <div class="recommended-transport">
        
      </div>
    </div>
  </div>

</div>
  