@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.p {
  color: white;
  font-family: 'Inter', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 319.36px;
  margin-top: 80px;
  width: 76%;
}

.live {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  
}

  .live-info-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 1%;
  }

    .live-info {
      display: flex;
      align-items: center;
      height: 50%;
    }

    .live-info img {
      height: 130%;
    }

      .temperature {
        display: flex;
        align-items: flex-start;
      }

      .temperature-data {
        margin-top: 5%;
        font-size: 120px;
      }

      .temperature span {
        font-size: 32px;
        margin-top: 20%;
      }

      .uv-data p {
        font-weight: 800;
        font-size: 32px;
      }

      .right-data {
        font-size: 24px; /* Adjust the font size as needed */
        width: 60%;
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 800;
        font-size: 32px;
        text-align: right;
        margin-right: 5%;
      }
      
      
.bottom-data {
  display: flex;
  justify-content: center;
  width: 75%;
  max-width: 1300px;
  height: 445px;
  margin-top: 2%;
  gap: 5%;
}

  .today-weather {
    width: 150%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
    .today-word{
      margin-top: 3%;
      margin-left: 4%;
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 32px;
    }
    .today-word p {
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 24px;
      color: #848484;
    }
    .hourly-weater{
      margin-left: 4%;
      display: flex;
      flex-direction: row;
    }

  .recommended {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
  }

  .recommended-item {
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  }

  .recommended-transport {
    height: 274.95px;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
