@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:host {
  display: block;
  background-image: var(--background-color);
  height: 100vh;
}


.p {
  color: white;
  font-family: 'Inter', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.container {
 }

.live {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10vh;

}

  .live-info-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    margin-top: 1%;

  }
  .live-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  

  }
    .top-live{
      display: flex;
      align-items: center;
      height: 50%;

    }

    .live-info img {
      height: 150%;
      width: 54%;
    }

      .temperature {
        display: flex;
        align-items: flex-start;
      }

      .temperature-data {
        margin-top: 5%;
        font-size: 120px;
      }

      .temperature span {
        font-size: 32px;
        margin-top: 20%;
      }

      .uv-data p {
        font-weight: 800;
        font-size: 32px;
        margin-top: -15%;
        margin-left: 55%;
      }

      .right-data {
        font-size: 24px; /* Adjust the font size as needed */
        width: 60%;
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 800;
        font-size: 32px;
        text-align: right;
        margin-right: 5%;
      }
      
      
.bottom-data {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110%;
  max-width: 1300px;
  height: 445px;
  margin-top: 2%;
  gap: 2%;
}

  .today-weather {
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
    .today-word{
      margin-top: 3%;
      margin-left: 4%;
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 32px;
      margin-bottom: -2%;
    }
    .today-word p {
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 24px;
      color: #848484;

    }



    .hourly-weater{

      display: flex;
      width: auto;
      flex-direction: row;
      gap: 3%;
      height: 32vh;
      align-items: center;
      justify-content:center;

   
    }

    @media only screen and (max-width:1300px) {
      .hourly-weater{

        display: flex;
        width: auto;
        flex-direction: row;
        gap: 5vh;
        height: 33vh;
        align-items: center;
        justify-content:flex-start;
        overflow-x: auto; 
        white-space: nowrap;
        margin-right: 1vh;
        margin-left: 1vh;
        overflow-y: none;
      }

  .grid-item {
    background-color: #CEE8FF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 20vh;
    max-height: 10vh;
    flex-direction: column;
  }
  .grid-right{ 
    margin-bottom: 10%;
    width: 50%;
    
  }
  .grid-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    text-align: start;
    width: 80%;
    height: 70%;
    margin-bottom: -30%;
  }

    }

    

  
  .recommended {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5%;
  }

  .recommended-item {
    width: 100%;
    height: 30%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-content: center;

  }
  .recomend-box{
      margin-left: 20px;
      font-family: 'Inter', sans-serif;
      font-weight: 800;
      font-size: 20px;
    }
    .recomend-box img{
      margin-left: 10px;
      margin-right: 10px;
      width: 15%;
    }


  .more-detaibox{
    height: 70%;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .more-detail{
    height: 70%;
    width: 90%;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr; /* Two columns with equal width */
    grid-template-rows: 0.6fr 0.6fr; /* Two rows with equal height */
    grid-gap: 20px; /* Adjust the grid gap as needed */
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .grid-item {
    background-color: #CEE8FF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 20vh;
    max-height: 10vh;
  }

  .grid-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    text-align: start;
    width: 80%;
    
  }
  .grid-left h3{
    font-size: 1.5vh;
    font-weight: 600;

    
  }

  .grid-right{ 
    padding-left: 20px;
    width: 50%;
    
  }
  .grid-right img{

    width:5vh;
  }
