<app-nav-bar></app-nav-bar>
 
<div class="weekly">

        <div class="bottom-data">
            <div  class="today-weather">
        
              <div class="today-text">
                  พยากรอากาศ 7 วัน
                  <div class="container-hourly">
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[8].condition,9 )" alt="">

                      <p>{{this.weatherAPI.hour[8].condition}}</p>

                      <div class="minmax">
                        <p>{{this.weatherAPI.hour[8].weathermin}}</p>
                        <p>{{this.weatherAPI.hour[8].weathermax}}</p>
                      </div>
      
                    </div>
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[9].condition,12 )" alt="">
                  
                      <p>{{this.weatherAPI.hour[9].condition}}</p>
                   
                    </div>
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[10].condition,15 )" alt="">

                      <p>{{this.weatherAPI.hour[10].condition}}</p>
          
                    </div>
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[11].condition,18 )" alt="">
 
                      <p>{{this.weatherAPI.hour[11].condition}}</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[12].condition,21 )" alt="">

                      <p>{{this.weatherAPI.hour[12].condition}}</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img [src]="getWeatherImage(weatherAPI.hour[13].condition,24 )" alt="">
              
                      <p>{{this.weatherAPI.hour[13].condition}}</p>
                    </div>
                  
                  </div>
              </div>
            </div>
        </div>
</div>    