
<div class="weekly">

        <div class="bottom-data">
            <div  class="today-weather">
        
              <div class="today-text">
                  พยากรอากาศ 7 วัน
                  <div class="container-hourly">
                    <div class="temperature-hourly-box">
                      <img src="../assets/Sunny.svg" alt="">
                      <p>แดดแรง</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Rain.svg" alt="">
                      <p>ฝนตก</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Wind.svg" alt="">
                      <p>ลมแรง</p>
                    </div>
                    <div class="temperature-hourly-box">
                      <img src="../assets/Storm.svg" alt="">
                      <p>พายุ</p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
</div>    