<div class="container"> 
  
    <div class="loading">
        <div class="logosmaller">
            <div [class]="loadingAnimationClass" id="loadingpic">
                <img src="../assets/wtherlogo.svg" alt="">
            </div>

        </div>


    </div>

    <div class="loadingform">
        <form class="form" >
            <p>โปรดระบุอายุของคุณ?</p>
            <input type="number" class='age' name="fname" min="0" max="99" id="ageInput"><br><br>
            <p>โปรดระบุเพศของคุณ??</p>
      
            <a  (click)="recordUserInput()" routerLink="/home">
                start
            </a>
        
              
        </form>

    </div>

</div>