<div class="container"> 
  
    <div class="loading">
        <div class="logosmaller">
            <div [class]="loadingAnimationClass" id="loadingpic">
                <img src="../assets/wtherlogo.svg" alt="">
            </div>

        </div>


    </div>

    <div class="loadingform">
        <form class="form" >
            <p>โปรดระบุอายุของคุณ?</p>
            <input type="text" id="fname" name="fname"><br><br>
            <p>โปรดระบุเพศของคุณ??</p>
            <input type="text" id="fname" name="fname"><br><br>

            <a routerLink="/home">
                start
            </a>
           
              
        </form>

    </div>

</div>